*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     min-width: 100%; 
 }
  .header{
     width: 100%;
     background-color: rgba(133, 128, 128, 0.783);
     height: 400px;
    
  }
   #cards{
     display: flex;
     justify-content: center;
     margin: -13px 0px 0px;
   }
    .card1{
         width: 300px;
         height: 300px;
         background-color: #fff;
         border-radius: 5px; 
         margin: 20px;
         animation: backgroundanimation 6s linear infinite;
         cursor: pointer;
         box-shadow: 5px 5px rgba(0, 0, 0, 0.196);
    }
    .card1:hover{
          transform: scale(1.1);
        box-shadow:5px 5px  rgba(106, 7, 7, 0.386) ;
        transition: 0.9s;
    }
    .card1 h2{
        position: relative;
        bottom: 170px;
        left: 115px;
        text-align: center;
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.491);
        width: 80px;
        padding: 10px;
        border-radius: 10px;
        color: #ffffffde;
    }
    .card1 h2:hover{
         background-color: black;
         transform: scale(1.1);
         transition: 0.9s;
    }
    .card1 img{
         width: 300px;
         border-radius: 5px;
    }
    .animation{ 
       animation: backgroundanimation 15572.5ms linear 0ms infinite normal none running ;
        height: 300px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        margin: 10px 0;
    }
     .animation img{
      
        margin-left: -5px;
        cursor: pointer;
     }
   @keyframes backgroundanimation  {
       0%{
          background-image:url(photo-1617611413968-537a2ba4986d.avif) ;
          background-repeat: no-repeat;
          background-position:center;
          background-size: cover;
        
       }
       50%{
        background-image:url(photo-1637844528447-aee837ccfc7f.avif) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
       }
        70%{
            background-image: url(photo-1600461186623-d5551c00fc85.avif);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        100%{
            background-image: url(photo-1554350747-ec45fd24f51b.avif);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
   }
    .menu{
       background-color: #00ec6a;
       height: 50px;
       width: 100%;
    }
    .menu input{
      position: relative;
      margin: -10px;
       float: right;
       right: 50px;
        bottom: 20px;
        background-color:#fcfcfc;
        border: none;
         padding: 5px;
         border-radius: 5px;
    }
    .menu button{
       float: right;
       position: relative;
       left: 145px;
       bottom:30px ;
       background-color: #c9d2cbde;
       border: none;
       padding: 5px;
       border-radius: 10px;
       cursor: pointer;
    }
   .menu ul{
     display: flex;
     gap: 20px;
     justify-content: center;
     align-items: center;
     list-style: none;
   }
   .menu li{
     background-color:#16ac59 ;
     padding: 10px;
     border-radius: 10px;
   }
   .menu li:hover{ 
     background-color: #00ec6a;
     transform: scale(1.1);
     transition: 1s;
   }
    .menu a{
         text-decoration: none;
         color: #fff;
    }
      .main{
        margin: 20px;
         background-color: #3f3131;
        border-radius: 10px;
        height: 1300px;
      }
      #product{
         display: flex;
         gap: 20px;
          justify-content: center;
          align-items: center;
      }
     .jacket{
        background-color: #dcdcdcde;
        width: 200px;
        cursor: pointer;
         border-radius: 10px;
     }
      .about-jacket p{
           text-align: center;
            background-color: #3f3131;
            color: #fff;
            margin: 20px;
            border-radius: 10px;
      }
       .about-jacket button{
         background-color: #070947;
         position: relative;
         left: 60px;
         padding: 10px;
         border-radius: 10px;
         color: #fff;
         bottom: 10px;
         border: none;
         cursor: pointer;
       }
        .jacket img{
           width: 170px;
           height: 200px;
          position: relative;
          top: 5px;
          left: 10px;
          mix-blend-mode:multiply;
          box-shadow:5px 2px rgba(0, 0, 0, 0.151) ;
        }
         #product2{
           display: flex;
          gap: 20px;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin: 20px 0px 0px;
         }
          .shoes{
             width: 200px;
             background-color:#d8d8d8de ;
             cursor: pointer;
             border-radius: 10px;
          }
           .shoes img{ 
             width: 190px;
             height: 220px;
             position: relative;
             left: 10px;
             top: 5px;
             mix-blend-mode: multiply;
           }
            .about-shoes p{
                text-align: center;
                background-color: #3f3131;
                margin: 10px;
                color: #fff;
                border-radius: 10px;
                padding: 10px;
            }
             .about-shoes button{
               position: relative;
               left: 60px;
               background-color: #070947;
               border: none;
               padding: 10px;
               border-radius: 10px;
               color: #fff;
               cursor: pointer;
             }  
             
           #product3{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 20px 0px 0px;
        
        }
         .sweater{
          width: 200px;
          background-color:#d8d8d8de ;
          cursor: pointer;
          border-radius: 10px;
         }
          .sweater img{
            width: 190px;
            height: 220px;
            position: relative;
            left: 10px;
            top: 5px;
            mix-blend-mode: multiply;
          }
          .about-sweater p{
            text-align: center;
            background-color: #3f3131;
            margin: 10px;
            color: #fff;
            border-radius: 10px;
            padding: 10px;
          }
           .about-sweater button{
            position: relative;
            left: 60px;
            background-color: #070947;
            border: none;
            padding: 10px;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
           }
    
      .footer{
         background-color: #0e0253;
          height: 300px;
         display: flex;
        margin: 0px;     
      }
       .footer ul{
        list-style: none;
        position: relative;
        top: 70px;
       }
       .footer li{
        margin: 10px;
         background-color: #fcfcfc;
         padding: 4px;
         border-radius: 5px;
         width: 60px;text-align: center;
       }
        .footer h2{
          position: relative;
          top: 30px;
          left: 20px;
          color: #fff;
          font-size: 20px;
          margin: 0px 0px 30px;
        }
        .footer a{
           text-decoration: none;
           color: #000;
        } 
        
        @media (max-width:1280px){
        .header{
          height: 100%;
          width: 100%;
        }
       .animation img {
        margin: -47px 350px -82px;
       width: 100%;
     }   
     
      #cards{
        width: 100%;
        flex-wrap: wrap;
       
          }
          
          .main{
            height: 100%;
            width: 100%;
            margin: 10px 0px; 
          }
          #product{
            flex-wrap: wrap;
            margin: 0px 5px 25px;
          }
          #product2{
             margin: 20px;
          }
           #product3{
            margin: 20px;
           }
      }  
    
   @media (max-width:780px){
     
     .header{
       height: 100%;
       width: 100%;
     }
    .animation img {
      margin: 16px 165px -47px;
    width: 100%;
  }   
  .animation{
        width: 100%;
        margin: 15px 0px 11px;
       align-items: center;
  }
   #cards{
         width:100%;
           flex-wrap: wrap;
           margin: 20px 0px 0px;
       }
       .menu{ 
        width: 100%;
        height: 200px;
        background-color: #000;
     }
      .menu input{
       position: relative;
       margin: 1px -55px 0px;
       padding: 7px;
       top: 50px;
       right: 239px;
      }
      .menu button{
       position: relative;
       margin: 1px 62px 0px;
       padding: 7px;
       top: 49px;
       left: -10px;
        
      }
       .footer{
         height: 300px;
       }
   }
    @media (max-width:480px){
       .header{
         width: 100%;
         height: 100%;
       } 
       .menu{ 
         width: 100%;
         height: 200px;
         background-color: #000;
      }
       .menu input{
        position: relative;
        margin: 1px 1px 0px;
        padding: 7px;
        top: 50px;
        right: 149px;
       }
       .menu button{
        position: relative;
        margin: 1px 1px 0px;
        padding: 7px;
        top: 49px;
        left: 69px;
         
       }
    }
  